html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

@keyframes menu-apparition {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}
h2,
h3,
h4,
h5,
h6,
p,
button {
  font-family: "Roboto", Roboto, sans-serif;
}

h1 {
  font-family: "Shrikhand", Shrikhand, sans-serif;
  font-size: 1.7em;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
}

h3 {
  font-size: 1.2em;
  font-weight: 700;
}

p {
  font-size: 1em;
}

button {
  font-size: 1em;
  font-weight: 500;
}

.fa-heart {
  font-size: 22px;
}

.gradient-heart {
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(to bottom, #9356dc, #ff79da);
}

footer {
  background-color: #353535;
  color: #ffffff;
  padding: 30px 20px 50px 20px;
}
footer h3 {
  font-family: "Shrikhand", Shrikhand, sans-serif;
  padding-bottom: 10px;
}
footer ul {
  list-style: none;
}
footer li {
  margin-top: 10px;
}

@media (min-width: 1024px) {
  footer h3 {
    padding-bottom: 0;
  }
  footer .footer-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 100px;
  }
  ul {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 63px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  z-index: 1;
}
header .previous-arrow {
  position: absolute;
  top: 50%;
  left: 15px;
  z-index: 1;
}

body {
  background: #f6f6f6;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #eaeaea;
  width: 100%;
  height: 50px;
  text-align: center;
  font-weight: 500;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.location__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 17px;
  border: none;
  background: none;
  color: #353535;
}

.explore-restaurants {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  padding: 30px 20px 50px 20px;
}
.explore-restaurants__btn {
  background: linear-gradient(to top, #9356dc, #ff79da);
  border: none;
  border-radius: 25px;
  width: 218px;
  height: 50px;
  margin-top: 15px;
  color: #ffffff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: background 0.5s ease, box-shadow 0.5s ease;
}
.explore-restaurants__btn:hover {
  background: linear-gradient(to top, #a16be0, #ff93e1);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.45);
}

.site-functioning {
  background-color: #ffffff;
  padding: 30px 20px 50px 20px;
  display: flex;
  flex-direction: column;
}
.site-functioning__main-container {
  width: 100%;
  max-width: 1440px;
}
.site-functioning__card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 25px;
  gap: 20px;
}
.site-functioning__card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  position: relative;
  width: 100%;
  height: 70px;
  font-weight: 500;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background-color: #f6f6f6;
}
.site-functioning__number {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  left: -10px;
  height: 24px;
  width: 24px;
  background-color: #9356dc;
  color: #ffffff;
  border-radius: 50%;
}
.site-functioning__icon {
  color: #7e7e7e;
}
.site-functioning__icon--purple {
  color: #9356dc;
}
.site-functioning__icon-alignement {
  display: flex;
  position: absolute;
}
.site-functioning__icon-alignement i {
  position: relative;
  left: -15px;
}

.restaurants {
  padding: 30px 20px 50px 20px;
  display: flex;
  flex-direction: column;
}
.restaurants__main-container {
  width: 100%;
  max-width: 1440px;
}
.restaurants__card-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
}
.restaurants__card {
  position: relative;
  background-color: #ffffff;
  border-radius: 20px;
  height: 250px;
  width: 100%;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.restaurants__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 70%;
  border-radius: 20px 20px 0 0;
}
.restaurants__new-added {
  position: absolute;
  top: 15px;
  right: 10px;
  color: #008766;
  background-color: #99e2d0;
  padding: 5px;
}
.restaurants__card-txt {
  padding: 15px;
}
.restaurants__card-txt p {
  font-weight: 300;
}
.restaurants__container-heart {
  position: absolute;
  bottom: 25px;
  right: 15px;
}
.restaurants__container-heart .blank-heart,
.restaurants__container-heart .gradient-heart {
  transition: opacity 0.5s ease;
}
.restaurants__container-heart .blank-heart {
  position: absolute;
  opacity: 1;
}
.restaurants__container-heart .gradient-heart {
  opacity: 0;
}
.restaurants__heart-checkbox {
  display: none;
}
.restaurants__heart-checkbox:checked ~ .blank-heart {
  opacity: 0;
}
.restaurants__heart-checkbox:checked ~ .gradient-heart {
  opacity: 1;
}

@media (min-width: 768px) {
  .explore-restaurants h2 {
    font-size: 2.2em;
  }
  .site-functioning {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .site-functioning__card {
    width: 75%;
  }
  .restaurants {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .restaurants__card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .restaurants__card {
    width: 47%;
  }
}
@media (min-width: 1024px) {
  .site-functioning__card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .restaurants__card-container {
    gap: 50px;
  }
}
.restaurant-background img {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 275px;
  margin-bottom: -5px;
}

#starter {
  transform-origin: left;
  opacity: 0;
  animation: menu-apparition 1s 0.5s ease-in-out forwards;
}

#main {
  transform-origin: left;
  opacity: 0;
  animation: menu-apparition 1s ease-in-out 0.75s forwards;
}

#dessert {
  transform-origin: left;
  opacity: 0;
  animation: menu-apparition 1s ease-in-out 1s forwards;
}

.menu {
  background-color: #f6f6f6;
  margin-top: -50px;
  border-radius: 30px 30px 0 0;
  padding-left: 15px;
  padding-right: 15px;
}
.menu__container-heart .blank-heart,
.menu__container-heart .gradient-heart {
  transition: opacity 0.5s ease;
}
.menu__container-heart .blank-heart {
  position: absolute;
  opacity: 1;
}
.menu__container-heart .gradient-heart {
  opacity: 0;
}
.menu__heart-checkbox {
  display: none;
}
.menu__heart-checkbox:checked ~ .blank-heart {
  opacity: 0;
}
.menu__heart-checkbox:checked ~ .gradient-heart {
  opacity: 1;
}
.menu__restaurant {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  margin-bottom: 25px;
}
.menu__category {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 35px;
}
.menu__title {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.menu__underline {
  border-top: 3px solid #99e2d0;
  width: 40px;
}
.menu__card {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  overflow: hidden;
}
.menu__content {
  display: flex;
  align-items: center;
}
.menu__txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
  gap: 5px;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__txt h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.1em;
}
.menu__txt p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__price {
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
  width: 10%;
  padding-right: 10px;
  margin-left: 5px;
}
.menu__choice {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #99e2d0;
  width: 0;
  height: 70px;
  margin-top: -10px;
  border-radius: 0 20px 20px 0;
  transition: width 0.5s ease-in-out;
}
.menu .fa-circle-check {
  color: #fff;
  opacity: 0;
  transition: opacity 0.25s ease;
  transition-delay: 0.15s;
}
.menu__checked {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.menu__checked:checked ~ .menu__choice {
  width: 80px;
}
.menu__checked:checked ~ .menu__choice .fa-circle-check {
  opacity: 1;
}

.command {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  }
  .menu {
    width: 80%;
  }
  .menu__restaurant {
    justify-content: center;
    gap: 25px;
  }
  .menu__card {
    width: 75%;
  }
  .menu__category {
    align-items: center;
  }
  .menu__title {
    width: 75%;
  }
}
@media (min-width: 1024px) {
  .restaurant-background img {
    height: 385px;
  }
  .menu {
    max-width: 1440px;
  }
  .menu__card {
    width: 65%;
  }
  .menu__title {
    width: 65%;
  }
  .menu__card:hover .menu__choice {
    width: 80px;
  }
  .menu__card:hover .fa-circle-check {
    opacity: 1;
  }
}
@keyframes loading {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(100%);
  }
}
@keyframes reverse-loading {
  0% {
    transform: scaleX(100%);
  }
  100% {
    transform: scaleX(0);
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  99% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.container-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  z-index: 999;
  animation: fade-out 1s ease-in-out 3s forwards;
}
.container-loader__loader {
  position: absolute;
  width: 250px;
  height: auto;
}
.container-loader__loader img {
  position: relative;
  width: 100%;
  z-index: -1;
}
.container-loader__logo-hide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  transform-origin: right;
  animation: reverse-loading 3s ease-in-out forwards;
}
.container-loader__border-bar {
  border: 2px solid black;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  position: relative;
}
.container-loader__border-bar__bar {
  width: 100%;
  height: 10px;
  background-color: black;
  transform-origin: left;
  animation: loading 3s ease-in-out;
}/*# sourceMappingURL=style.css.map */