footer {
  background-color: $footer-background;
  color: $footer-font;
  padding: $padding-general;
  h3 {
    font-family: $logo-and-restaurant-title;
    padding-bottom: 10px;
  }
  ul {
    list-style: none;
  }
  li {
    margin-top: 10px;
  }
}

@media (min-width: 1024px) {
  footer {
    h3 {
      padding-bottom: 0;
    }
    .footer-container {
      @include flex-reverse-row;
      align-items: center;
      gap: 100px;
    }
  }
  ul {
    @include flex-row;
    gap: 25px;
  }
}

footer {
  background-color: $footer-background;
  color: $footer-font;
  padding: $padding-general;
  h3 {
    font-family: $logo-and-restaurant-title;
    padding-bottom: 10px;
  }
  ul {
    list-style: none;
  }
  li {
    margin-top: 10px;
  }
}

@media (min-width: 1024px) {
  footer {
    h3 {
      padding-bottom: 0;
    }
    .footer-container {
      @include flex-reverse-row;
      align-items: center;
      gap: 100px;
    }
  }
  ul {
    @include flex-row;
    gap: 25px;
  }
}
