header {
  @include flex-center-column;
  position: relative;

  .logo {
    @include flex-center-row;

    height: 63px;
    width: 100%;
    z-index: 1;
    background-color: $secondary-background;
    box-shadow: $shadow-bottom;
  }
  .previous-arrow {
    position: absolute;
    top: 50%;
    left: 15px;
    z-index: 1;
  }
}
