h2,
h3,
h4,
h5,
h6,
p,
button {
  font-family: $text-font;
}

h1 {
  font-family: $logo-and-restaurant-title;
  font-size: 1.7em;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
}

h3 {
  font-size: 1.2em;
  font-weight: 700;
}

p {
  font-size: 1em;
}
button {
  font-size: 1em;
  font-weight: 500;
}
