//***** Colors and gradient ***** //
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$primary-background: #f6f6f6;
$secondary-background: #ffffff;
$location-background: #eaeaea;
$location-font-color: #353535;
$location-background: #eaeaea;
$location-font-color: #353535;
$footer-background: #353535;
$footer-font: #ffffff;
$font-color-new: #008766;
$btn-font-color: #ffffff;
$number-font: #ffffff;
$icon-color: #7e7e7e;
$btn-gradient: linear-gradient(to top, $primary-color, $secondary-color);
$btn-gradient-hover: linear-gradient(
  to top,
  lighten($primary-color, 5%),
  lighten($secondary-color, 5%)
);
$icon-gradient: linear-gradient(to bottom, $primary-color, $secondary-color);

//***** Shadows and border *****//
$shadow-bottom: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
$card-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
$btn-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
$btn-shadow-hover: 0px 4px 10px 0px rgba(0, 0, 0, 0.45);
$restaurant-card-radius: 20px;
$restaurant-img-radius: 20px 20px 0 0;

//***** Fonts *****//
$logo-and-restaurant-title: "Shrikhand", Shrikhand, sans-serif;
$text-font: "Roboto", Roboto, sans-serif;

//***** Positioning *****//
$padding-general: 30px 20px 50px 20px;
