$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$primary-background: #f6f6f6;
$secondary-background: #ffffff;
$localisation-background: #eaeaea;
$footer-background: #353535;
$font-color-new: #008766;
$btn-gradient: linear-gradient(to top, $primary-color, $secondary-color);
$icon-gradient: linear-gradient(to bottom, $primary-color, $secondary-color);
$title-and-logo-font: "Shrikland", Shrikland, sans-serif;
$text-font: "Roboto", Roboto, sans-serif;
